<% include ../layouts/head %>

<% include ../layouts/navbar %>

<script src="id3.min.js"></script>

<div class="outer">
<div class="middle">
<div class="inner">
<div class="preloader-wrapper big active" id="cargando">
    <div class="spinner-layer">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    <audio id="miaudio"></audio>
</div>
</div>
</div>
</div>
<div class="row center">

    <div class="col s12">
      <div class="carousel" id="carousel_col">
        <a class="carousel-item" href="#" id="cerdo_inicial"><img src="/Plopper.png"></a>
        </div>
</div>
<div class="col s12">
  <div id="reproductor_cancion">
    <a class="btn-floating btn-large" id="boton_anterior"><i id="boton_p_material_icons" class="material-icons">skip_previous</i></a>
    <a class="btn-floating btn-large" id="boton_p"><i id="boton_p_material_icons" class="material-icons">play_arrow</i></a>
    <a class="btn-floating btn-large" id="boton_siguiente"><i id="boton_p_material_icons" class="material-icons">skip_next</i></a>
    <a class="btn-floating btn-large" id="boton_volume_up"><i id="boton_p_material_icons" class="material-icons">volume_down</i></a>
    <a class="btn-floating btn-large" id="boton_volume_down"><i id="boton_p_material_icons" class="material-icons">volume_up</i></a>
</div>
</div>
</p>

<div class="col s12 m6 offset-m3" id="col_tiempo">
  <div class="col s2"><span id="tiempo_cancion_reproducido"></span></div>
<div class="col s8" id="col_slider"><div class="slider center" id="rango_tiempo"></div></div>
<div class="col s2"><span id="tiempo_cancion_restante"></span></div>
</div>
<span id="probando"></span>
  </div>
  </div>

<% include ../layouts/scripts %>