<% include ../layouts/head %>

<% include ../layouts/navbar %>

<span>Soy la vista index</span>

<script src="id3.min.js"></script>
<input type="file">

<div class="row center">
    <div class="col s12">
<div class="carousel" id="carousel_col">
    <a class="carousel-item" href="#one!"><img class="image">Addicted to you</a>
    <a class="carousel-item" href="#two!"><img class="image"></a>
    <a class="carousel-item" href="#three!"><img class="image"></a>
    <a class="carousel-item" href="#four!"><img class="image"></a>
    <a class="carousel-item" href="#five!"><img class="image"></a>
    <a class="carousel-item" href="#six!"><img class="image"></a>
    <a class="carousel-item" href="#seven!"><img class="image"></a>
    <a class="carousel-item" href="#eight!"><img class="image"></a>
    <a class="carousel-item" href="#nine!"><img class="image"></a>
    <a class="carousel-item" href="#ten!"><img class="image"></a>
    <a class="carousel-item" href="#eleven!"><img class="image"></a>
    <a class="carousel-item" href="#twelve!"><img class="image"></a>
    <a class="carousel-item" href="#thirteen!"><img class="image"></a>
  </div>
  <div id="reproductor_cancion">
     <a class="btn-floating btn-large" id="boton_p"><i id="boton_p_material_icons" class="material-icons">play_arrow</i></a>
     <a class="btn-floating btn-large" id="boton_volume_up"><i id="boton_p_material_icons" class="material-icons">volume_down</i></a>
     <a class="btn-floating btn-large" id="boton_volume_down"><i id="boton_p_material_icons" class="material-icons">volume_up</i></a>
</div>
<p>Tiempo total cancion: 
    <span id="tiempo_cancion"></span>
      <div class="preloader-wrapper big active" id="cargando">
    <div class="spinner-layer">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</p>
<p>Tiempo total reproducido: <span id="tiempo_cancion_reproducido"></span></p>
  
<div class="sliders" id="rango_tiempo"></div>
<img src="/songs">
  </div>
  </div>



<h1>Tus datos: </h1>
<%  if(user == null){
        user = {}
        user._id = "???";
        user.local = {
            email: "????",
            password: "???"
        };
  } else { %>
        <h1>Cerrrar sesión</h1>
        <%- link_to('Cerrar sesión', '/logout', {Class: 'btn'}) %>
<% } %>

<br>

<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.local.email %><br>
<strong>password</strong>: <%= user.local.password %>

<% include ../layouts/scripts %>