<% include ../layouts/head %>

<% include ../layouts/navbar %>

<span>Soy la vista index</span>

<script src="id3.min.js"></script>
<input type="file">

<div class="carousel">
    <a class="carousel-item" href="#one!"><img id="image"></a>
    <a class="carousel-item" href="#two!"><img id="image"></a>
    <a class="carousel-item" href="#three!"><img id="image"></a>
    <a class="carousel-item" href="#four!"><img id="image"></a>
    <a class="carousel-item" href="#five!"><img id="image"></a>
  </div>

<div id="reproductor_cancion">
<audio controls>
  <source src="23.mp3" type="audio/mpeg">
</audio>
</div>

<h1>Tus datos: </h1>
<%  if(user == null){
        user = {}
        user._id = "???";
        user.local = {
            email: "????",
            password: "???"
        };
  } else { %>
        <h1>Cerrrar sesión</h1>
        <%- link_to('Cerrar sesión', '/logout', {Class: 'btn'}) %>
<% } %>

<br>

<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.local.email %><br>
<strong>password</strong>: <%= user.local.password %>

<% include ../layouts/scripts %>