<% include ../layouts/head %>

<span>Soy la vista index</span>

<script src="id3.min.js"></script>
<input type="file">


<img id="image">
<script type="text/javascript">
document.querySelector('input[type="file"]').onchange = function(e) {
	id3(this.files[0], function(err, tags) {
		console.log(tags.v2.image);
		if (tags.v2.image != null) {
    var blob = new Blob( [ a ], { type: "image/png" } );
    var urlCreator = window.URL || window.webkitURL;
    var imageUrl = urlCreator.createObjectURL( blob );

    $('#image').attr('src', imageUrl);
}
	});
}
</script> 

<div id="reproductor_cancion">
<audio controls>
  <source src="23.mp3" type="audio/mpeg">
</audio>
</div>

<h1>Tus datos: </h1>
<%  if(user == null){
        user = {}
        user._id = "???";
        user.local = {
            email: "????",
            password: "???"
        };
  } else { %>
        <h1>Cerrrar sesión</h1>
        <%- link_to('Cerrar sesión', '/logout', {Class: 'btn'}) %>
<% } %>

<br>

<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.local.email %><br>
<strong>password</strong>: <%= user.local.password %>

<% include ../layouts/scripts %>