<% include ../layouts/head %>
<% include ../layouts/navbar %>

<div class="section">
    <div class="row container">
      <h1 class="header center">Sobre nosotros</h1>
      <p class="center">Esta aplicación web ha sido creada por tres estudiantes de Ingeniería Informática en la Universidad de La Laguna, Rafa Herrero, Daniel Ramos y Pedro Ramos. Actualmente cursamos el tercer curso y desarrollamos este trabajo para la asignatura de Desarrollo de Sistemas Informáticos, correspondiente al quinto itinerario, Tecnologías de la Información.</p>
    </div>
  </div>
  <div class="parallax-container">
  <div class="parallax">
    <img src="Rafa.jpg">
    </div>
    </div>
<div class="section">
    <div class="row container">
      <h1 class="header center">Rafael Herrero Álvarez</h1>
      <p class="center">Tengo 20 años y vivo en San Cristóbal de La Laguna. Actualmente estoy estudiando Ingeniería Informática en ULL, en el tercer curso del itinerario de Tecnologías de la Información, a pesar de haberme dedicado a esto desde de pequeño, ya que vivía entre cintas VHS y pantallas de CRT y el intentar entender su funcionamiento fue lo que me empujo a esta carrera.</p>
    </div>
  </div>
    <div class="parallax-container">
  <div class="parallax">
    <img src="Dani.jpg">
    </div>
    </div>
      <div class="section">
    <div class="row container">
      <h1 class="header center">Daniel Ramos Acosta</h1>
      <p class="center">Tengo 20 años, y actualmente soy estudiante 3º del grado de Ingeniería Informática en la ESIT de la Universidad de La Laguna. Desde los 15 años tenía claro que quería estudiar esta carrera. En aquel momento estaba en 4º de la ESO, y en la clase de informática empezamos a ver el Scratch, una herramienta de programación por bloques. Y fue ahí exactamente cuando descubrí que programar era lo que realmente me gustaba.</p>
    </div>
  </div>
      <div class="parallax-container">
  <div class="parallax">
    <img src="Pedro.jpg">
    </div>
    </div>
      <div class="section">
    <div class="row container">
      <h1 class="header center">Pedro Ramos Rodríguez</h1>
      <p class="center">Mi nombre es Pedro Ramos, tengo 25 años y tengo título de Administrador de Sistemas Informáticos y Técnico en telecomunicaciones. Actualmente estoy realizando los estudios de 3º de Grado de Ingeniería Informática en la Universidad de La Laguna (ULL) en la especialidad de Tecnología de la información.</p>
    </div>
  </div>
  


  
    

<% include ../layouts/scripts %>