@import "variables";

body {
    background-color: $colorfondo;
}

.nav-wrapper {
  background-color: $colorfuerte;
  z-index: 4000;
}

.side-nav{
  z-index: 4000;
}

.btn-large{
    background-color: $colorfuerte;
}

.btn-large:hover{
    background-color: $colorflojito;
}

.texto_bienvenida{
    padding-top:20px;
}

@media only screen and (min-width: 768px){
#img_logo{
  padding-top: 4px;
}
}
