/*$colorfuerte: #3e2723;
$colormedio: #4e342e;
$colorflojo: #5d4037;
$colorflojito: #6d4c41;
$colorfondo: #d7ccc8;*/

@import "variables";

body {
    background-color: $colorfondo;
}

.nav-wrapper {
  background-color: $colorfuerte;
  z-index: 4000;
}

.side-nav{
  z-index: 4000;
}

@media only screen and (min-width: 768px){
#img_logo{
  padding-top: 4px;
}
}
