@import "variables";

@media only screen and (max-width: 768px){
.carousel .carousel-item img {
    width: 100%;
}

.carousel-item{
    width: 100px; 
}
}

@media only screen and (min-width: 768px){
.carousel .carousel-item img {
    width: 400px;
}

.carousel-item{
    width: 400px !important; 
}

#carousel_col{
    height: 550px;
}
}

#boton_p, #boton_volume_up, #boton_volume_down, #boton_anterior, #boton_siguiente, .noUi-target .range-label, .noUi-connect, .noUi-horizontal .noUi-handle{
    background-color: $colormedio;
}

#boton_p_material_icons{
    font-size: 250%;
}

.spinner-layer{
    border-color: #3e2723;
}

#rango_tiempo, #rango_volumen{
    max-height: 5px;
}

#col_slider{
    padding-top: 2.5px;
}

.noUi-background{
    height: 5px;
}

#col_tiempo, #col_volumen{
    padding-top: 20px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #6d4c41;
    z-index: 3000;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
}

#cargando{
    width: 400px;
    height: 400px;
    z-index: 001;
}

table.bordered>thead>tr, table.bordered>tbody>tr {
    border-bottom: 1px solid #4e342e;
}

#fila_reproductor{
    padding-top:50px;
}

#col_caratula{
    min-height: 591.16px;
    min-width: 591.16px;
}