@import "variables";

@media only screen and (max-width: 768px){
.carousel .carousel-item img {
    width: 100%;
}

.carousel-item{
    width: 100px; 
}
}

@media only screen and (min-width: 768px){
.carousel .carousel-item img {
    width: 400px;
}

.carousel-item{
    width: 400px !important; 
}

#carousel_col{
    height: 550px;
}
}

#boton_p, #boton_volume_up, #boton_volume_down, #boton_anterior, #boton_siguiente, .noUi-target .range-label, .noUi-connect, .noUi-horizontal .noUi-handle{
    background-color: $colormedio;
}

#boton_p_material_icons{
    font-size: 250%;
}

.spinner-layer{
    border-color: $colorfuerte;
}

#rango_tiempo, #rango_volumen{
    max-height: 5px;
}

#col_slider{
    padding-top: 2.5px;
}

.noUi-background{
    height: 5px;
}

#reproductor_cancion, #reproductor_tiempo, #reproductor_volumen{
    padding-bottom: 80px;
}

#col_tiempo{
    padding-top: 20px;
}

#rango_volumen{
    margin-top: 20px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $colorflojito;
    z-index: 99;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
}

#cargando{
    width: 400px;
    height: 400px;
    z-index: 100;
}

#cargando_cara{
    width: 200px;
    height: 200px;
}

#img_caratula{
    z-index: 5001;
}

table.bordered>thead>tr, table.bordered>tbody>tr {
    border-bottom: 1px solid $colormedio;
}

#fila_reproductor{
    padding-top: 50px;
}

.reproducir_cancion_lista{
    cursor: pointer;
}

#tabla_canciones{
    margin-top: -30px;
}

#controladores{
    margin-top: 30px;
}