@media only screen and (max-width: 768px){
.carousel .carousel-item img {
    width: 100%;
}

.carousel-item{
    width: 100px; 
}
}

@media only screen and (min-width: 768px){
.carousel .carousel-item img {
    width: 400px;
}

.carousel-item{
    width: 400px !important; 
}

#carousel_col{
    height: 550px;
}
}

#boton_p, #boton_volume_up, #boton_volume_down, #boton_anterior, #boton_siguiente, .noUi-target .range-label, .noUi-connect, .noUi-horizontal .noUi-handle{
    background-color: #4e342e;
}

#boton_p_material_icons{
    font-size: 250%;
}

.spinner-layer{
    border-color: #3e2723;
}

#rango_tiempo{
    max-height: 5px;
}

#col_slider{
    padding-top: 2.5px;
}

.noUi-background{
    height: 5px;
}

#col_tiempo{
    padding-top: 30px;
}