<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper z-depth-5 hoverable">
        <a href="/" class="brand-logo center"><img src="/Logo_coco_music.png" id="img_logo"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            
            <% if (user) { %>
                <li><span><%- link_to('Tu perfil', '/users/' + user._id) %></span></li>
                <li><%- link_to('Cerrar sesión', '/logout') %></li>
            <% } else { %>
                <li><a href="/signup">Registrarse</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
            <% } %>
            
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>
</div>